body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
button:focus {
  outline: none;
}
textarea {
  resize: none;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*=====LOGOTYPE=====*/
.header .logotype {
  margin-right: 93px;
}
.logotype {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.logotype-part {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.193;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
/*=====LOGOTYPE END=====*/

/*=====HEADER=====*/
.icon-envelope {
  width: 16px;
  height: 12px;
  color: #757575;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  color: #757575;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list:not(:last-child) {
  margin-right: 50px;
}
.header-contacts {
  display: flex;
  justify-content: center;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts:first-of-type {
  margin-right: 50px;
}
.logotype {
  margin-right: 93px;
}
.navigation-list-item {
  display: flex;
  position: relative;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  position: absolute;
  display: contents;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link.current::after,
.navigation-list-link:hover::after,
.navigation-list-link:focus::after {
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  display: block;
  flex-shrink: 0;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  content: '';
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list-link.current {
  color: var(--accent-color);
}
.header-contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-envelope {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-smartphone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover .icon-envelope,
.header-contacts-link:focus .icon-envelope {
  fill: var(--accent-color);
}
.header-contacts-link:hover .icon-smartphone,
.header-contacts-link:focus .icon-smartphone {
  fill: var(--accent-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}
.icon-envelope {
  margin-right: 10px;
}
.icon-smartphone {
  margin-right: 10px;
}
/*=====HEADER END=====*/

/*=====HERO=====*/
.hero {
  display: flex;
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.38),
      rgba(47, 48, 58, 0.38)
    ),
    url('../images/hero/Img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero .container {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
}
.main-h1 {
  width: 696px;
  height: 120px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
}
.button-primary {
  width: 200px;
  height: 50px;
  color: var(--primary-btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-primary :focus,
.button-primary:hover {
  background-color: #188ce8;
}
.hero .container .button-primary {
  margin: 30px auto 0 auto;
  justify-content: center;
}
/*=====HERO END=====*/

/*=====ABOUT-US=====*/
.about-us {
  padding: 94px 0;
}
.about-us-theme {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 1170px;
  height: 251px;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
}
.about-us-icons {
  width: 70px;
  height: 70px;
}

.our-portfolio-list-link:hover .about-programmer,
.our-portfolio-list-link:focus .about-programmer {
  transform: translateY(-294px);
}
.about-us-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
}
.about-us-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}
/*=====ABOUT-US END=====*/

/*=====WHAT WE DO=====*/
.what-we-do-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.what-we-do {
  padding-bottom: 94px;
}
.what-we-do-desc-container {
  display: flex;
  justify-content: space-between;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
.what-we-do-list-img {
  position: relative;
}
.what-we-do-description {
  font-weight: bold;
  width: 205px;
  height: 16px;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 27px auto;
}
/*=====WHAT WE DO END=====*/

/*=====OUR TEAM =======*/
.our-team {
  background: #f5f4fa;
}
.our-team-social-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 16px 32px auto 32px;
}
.our-team-social-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.our-team-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-social-links:hover .our-team-icons,
.our-team-social-links:focus .our-team-icons {
  fill: #ffffff;
}
.our-team-social-links:hover,
.our-team-social-links:focus {
  background-color: var(--accent-color);
}
.our-team {
  padding: 94px 0;
}
.our-team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.our-team-list-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list-card > img {
  width: 100%;
  height: 260px;
}
.our-team-peoples-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 30px auto 10px auto;
}
.our-team-peoples-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0 auto 0 auto;
}
/*=====OUR TEAM END ====*/

/*=====CUSTOMERS====*/
.customers {
  padding: 94px 0;
}
.customers-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.customers-links {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 90px;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-item > img {
  width: 100%;
  height: 90px;
}
.customers-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list .customers-list-item:nth-child(1) .customers-icons {
  width: 45px;
  height: 50px;
}
.customers-list .customers-list-item:nth-child(2) .customers-icons {
  width: 40px;
  height: 52px;
}
.customers-list .customers-list-item:nth-child(3) .customers-icons {
  width: 41px;
  height: 43px;
}
.customers-list .customers-list-item:nth-child(4) .customers-icons {
  width: 80px;
  height: 42px;
}
.customers-list .customers-list-item:nth-child(5) .customers-icons {
  width: 59px;
  height: 47px;
}
.customers-list .customers-list-item:nth-child(6) .customers-icons {
  width: 88px;
  height: 45px;
}
.customers-list-item .customers-links:hover .customers-icons,
.customers-links:focus .customers-icons {
  fill: var(--accent-color);
}
.customers-list-item:hover,
.customers-list-item:focus {
  border-color: var(--accent-color);
}
/*=====CUSTOMERS END====*/

/*=====PORTFOLIO=====*/
.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
.button-secondary {
  display: block;
}
.button-secondary:hover,
.button-secondary:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.our-portfolio {
  padding: 83px 0 105px 0;
}
.our-navigation-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.our-portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.our-portfolio-list-item {
  display: block;
  border: 1px solid #eeeeee;
}
.our-portfolio-list-link:hover,
.our-portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.our-portfolio-list-link-description {
  padding: 20px 24px;
  z-index: 100;
  background-color: #ffffff;
  position: relative;
}
.our-portfolio-list-link {
  display: block;
  width: 100%;
  height: 400px;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  transition: translate 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-img {
  position: relative;
  overflow: hidden;
}
.about-programmer {
  position: absolute;
  top: 294px;
  left: 0;
  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms linear;
}
/*=====PORTFOLIO END=====*/

/*=====COMPONENTS=====*/
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.our-portfolio-works {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.our-portfolio-choise {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*=====COMPONENTS END=====*/

/*=====BUTTONS=====*/
.our-portfolio-navigation-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*=====BUTTONS END=====*/

/*=====FOOTER=====*/
.footer .logotype {
  color: #ffffff;
}
.footer .container {
  display: flex;
}
.footer {
  background: #2f303a;
  padding: 60px 0;
  display: flex;
}
.footer-navigation-list > li > a {
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 5;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-navigation-list > li:first-of-type > a {
  color: #ffffff;
}
.footer-navigation-list-item {
  margin-top: 9px;
}
.join {
  margin-left: 70px;
}
.join-title {
  width: 145px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.footer-form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}
.subscribe {
  width: 219px;
  height: 16px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.subscribe-container {
  position: relative;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  cursor: pointer;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  width: 200px;
  height: 50px;
  color: var(--primary-btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: none;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: justify;
  cursor: pointer;
}
.subscribe-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 55%;
  right: 28px;
}
/*=====FOOTER END=====*/

/*=====MODAL=====*/
.modal-text {
  width: 448px;
  height: 23px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.form {
  position: absolute;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.comment {
  padding: 12px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.comment:focus {
  border: 1px solid #2196f3;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-input:focus ~ .modal-icon {
  fill: #2196f3;
}
.form-input:focus {
  border: 1px solid #2196f3;
}
.form-label {
  height: 14px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-icon-check {
  width: 16px;
  height: 15px;
}
.comment-container {
  width: 100%;
  height: 24px;
  text-align: center;
  margin: 20px 0 30px;
}
.modal .button-primary {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 100px);
}

/*=====MODAL END=====*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.icon-close-black-18dp-2-1 {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  margin: auto;
}
.icon-close-black-18dp-2-1:hover {
  fill: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#contract {
  display: none;
}
#contract:not(:checked) + .terms svg:nth-of-type(2) {
  display: none;
}
#contract:checked + .terms svg:nth-of-type(1) {
  display: none;
}
.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}
.terms > svg {
  margin-right: 7px;
}
.terms a {
  color: var(--accent-color);
}
