/*=====HEADER=====*/

/*=====HEADER END=====*/

/*=====HERO=====*/

/*=====HERO END=====*/

/*=====ABOUT-US=====*/

/*=====ABOUT-US END=====*/

/*=====WHAT WE DO=====*/

/*=====WHAT WE DO END=====*/

/*=====OUR TEAM =======*/

/*=====OUR TEAM END ====*/

/*=====CUSTOMERS====*/

/*=====CUSTOMERS END====*/

/*=====PORTFOLIO=====*/

/*=====PORTFOLIO END=====*/

/*=====BUTTONS=====*/
.our-portfolio-navigation-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*=====BUTTONS END=====*/

/*=====FOOTER=====*/

/*=====FOOTER END=====*/

/*=====MODAL=====*/

/*=====MODAL END=====*/
