.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
.button-secondary {
  display: block;
}
.button-secondary:hover,
.button-secondary:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.our-navigation-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.our-portfolio {
  padding: 83px 0 105px 0;
}
.our-portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.our-portfolio-list-item {
  display: block;
  border: 1px solid #eeeeee;
}
.our-portfolio-list-link:hover,
.our-portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.our-portfolio-list-link-description {
  padding: 20px 24px;
  z-index: 100;
  background-color: #ffffff;
  position: relative;
}
.our-portfolio-list-link {
  display: block;
  width: 100%;
  height: 400px;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  transition: translate 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-img {
  position: relative;
  overflow: hidden;
}
.about-programmer {
  position: absolute;
  top: 294px;
  left: 0;
  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: transform 250ms linear;
}